
@media screen and (max-width: 750px) {
     /* start of phone styles */
  #header {
    min-width: 0px;
    height: 60px;
  }
  
  #title {
    width: calc(100% - 11px - 80px );
    margin-top: 0px;
  }
  
  .menuBar {
    width: 100%;
    margin-top: -65px;
  }
  
  
  
  
  .clubImg {
    width: 40px;
  }
  
  #tagline {
    min-width: 0px;
    font-size: 20px!important;
    margin-top: 0px;
  }
  
  .articleWrap{
    padding-top: 0px;
    min-width: 0px;
    padding: 0px;
    margin-bottom: 20px;
  }
  
  .articleBox {
    width: 100%;
    padding: 0px;
    border-radius: 0px;
    height: auto;
    padding-top: 20px;
  }
  
  .articleImg {
    height:50vw;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
    background-size: cover;
  }
  
  #sebastian .articleImg {
    background-image: url(./img/sebastian.jpeg)
  }
  #variety .articleImg {
    background-image: url(./img/variety.jpg)
  }
  
  .articleImg img{
display: none;
  }
  
  .articleTxt {
    width: 84%;
    margin-left: 8%;
    margin-right: 8%;
  }
  
  .articleTitle {
    font-size: 16px;
  }
  
  .featureBox {
    min-width: 0px;
    border-radius: 0px;
    margin: 0px;
    margin-top: 20px;
    width: 100%;
    padding: 0px;
    height: auto;
  }
  
  .featureBox .articleTitle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
  }
  
  #laurelWrap {
    height: 100px;
  }
  
  .youtube {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
  }
  
  .youtube iframe{
    height: 180px;
  }
  
  .youtube h4 {
    margin: 0px;
    padding-bottom: 15px;
  }
  
  #aboutWrap {
    min-width: 0px;
    padding: 0px;
  }
  
  #about {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 18px;
  }
  
  #joinUs {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  #footer {
    width: 100%;
    padding: 0px;
    min-width: 0px
  }
  
  #contactWrap {
    display: none;
  }
  #mobileContact {
    display: block;
    color: white;
    width: 100%;
    text-align: center;
  }
  
  #mobileContact div {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  #mobileContact div img {
	  height: 15px;
	  width: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
