:root {
  --1: #181E33;
  --2: #B21414;
  --headerheight: 75px;
  --minwidth: 700px;
}

html {
  background: var(--1);
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    background: white;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
  font-size: 22px;
  line-height: 34px;
}

#header {
  width: calc(100% - 50px);
  height: var(--headerheight);
  background-color: var(--1);
  padding: 25px;
  min-width: var(--minwidth);
}

#title {
  display: inline-block;
  font-size: 50px;
  text-align: center;
  width: calc(100% - 11px - 2 * var(--headerheight));
  color: white;
  vertical-align: top;
  margin-top: 20px;
}

.clubImg {
  display: inline-block;
  width: var(--headerheight);
  height: var(--headerheight);
}

.clubImg img {
  width: 100%;
}

#tagline {
  text-align: center;
  font-size: 3vw;
  color: var(--2);
  margin-top: 40px;
  margin-bottom: 0px;
  min-width: var(--minwidth);
  line-height: 5vw;
  padding:25px;
}

@media (max-width: 850px) {
    #tagline {
      font-size: 25px!important;
      line-height: 36px;
    }
}

@media (min-width: 1400px) {
    #tagline {
      font-size: 42px!important;
    }
}

.articleWrap {
  min-width: var(--minwidth);
  padding: 25px;
}


.articleBox, .featureBox{
  background: var(--1);
  border-radius: 5px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  height: 100px;
}

.articleBox {
    cursor: pointer;
}

.articleImg {
  display: inline-block;
  height: 100%;
}

.articleImg img {
  height: 100%;
  border: white solid 2px;
  border-radius: 5px;
}

.articleTxt {
  display: inline-block;
  vertical-align: top;
  width: 360px;
  text-align: center;
  margin-left: 40px;
  color: white;
  height: 100%;;
}

.articleTitle {
  margin-bottom: 0px;
  margin-top: 10px; 
  font-size: 20px;
  line-height: 26px;
}

.readOn {
  font-size: 12px;
  margin-top: 5px;
  color: #bbbbbb;
}

.featureBox {
  height: 600px;
  width: 85%;
  margin-top: 50px;
  text-align: center;
  color: white;
  min-width: var(--minwidth);
  padding:25px;
}

#laurelWrap {
  height: 150px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#laurelWrap img {
  height: 100%;
}

.youtube {
  display: inline-block;
  width: 45%;
  height: 280px;
  margin-right: 2%;
  margin-left: 2%;
}

.youtube iframe {
  border: solid white 2px;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

#aboutWrap{
  min-width: var(--minwidth);
  padding-left: 25px;
  padding-right: 25px;
}

#about, #joinUs {
  text-align: center;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  color: var(--1);
  margin-top: 50px;
  font-size: 28px;
  line-height: 38px;
}

#joinUs {
  color: var(--2);
  margin-bottom: 50px;
}

#footer {
  background: var(--1);
  width: calc(100% - 50px);
  text-align: center;
  min-width: var(--minwidth);
  padding-left: 25px;
  padding-right: 25px;
}

#contactWrap{
  padding-top: 25px;
  color: white;
  height: 40px;
  font-size: 12px;
}

#contactWrap div {
  width:12%;
  display: inline-block;
}

#mobileContact {
  display: none;
}

.emailButton:hover, .twitterButton:hover {
  cursor: pointer;
  color: var(--2);
}
