body {
  margin: 0;
}

.splash {
  width: 100vw;
  height: 100vh;
  background-color: #181E33;
  color: #be140b;
}

.splash .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
}

.splash img {
  width: 200px;
}

.splash h1 {
  width: 80%;
  margin: 0 10% 0 10%;
  text-align: center;
  margin-top: 100px;
  font-family: 'Josefin Sans', sans-serif;
}
